.photo_profil {
    width: 20rem;
    height: 20rem;
    border-radius: 10000rem;
}

.photo_profil:hover {
    animation: zooming 0.5s ease;
    scale: 1.2;
}

.photo_profil:not(:hover) {
    animation: zoomingout 0.5s ease;
    scale: 1;
}

@keyframes zooming {
    0% {scale: 1;}
    100% {scale: 1.2;}
}

@keyframes zoomingout {
    0% {scale: 1.2;}
    100% {scale: 1;}
}

.image_container {
    max-width: 100%;
    height: 20rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10000rem;
}

.first_fieldset {
    border-radius: 10000rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    border-color: cadetblue;
    border: 3px solid cadetblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50rem;
    font-size: 1.3rem;
    color: cadetblue;
    font-family: "Calibri", sans-serif;
}

input[type=radio] {
    display: none;
}

label .first_fieldset {
    padding : 0.25rem 0.5rem;
    display: flex;
    font-weight: normal;
    color: cadetblue;
    border-radius: 10000rem;
}

header {
    background-color: cadetblue;
    margin: 0rem;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Calibri", sans-serif;
    font-size: larger;
}

body {
    margin: 0rem;
    padding: 0rem;
    background-color: rgb(248, 255, 255);
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    display: none;
  }

html {
    scroll-behavior: smooth;
}

header h1 {
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.menu_home {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.fieldplease {
    display: flex;
    justify-content: center;
}

.corps_home {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4rem;
}

.home_about_me {
    background-color: rgb(237, 237, 237);
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    font-family: "Calibri", sans-serif;
    font-size: 1.6rem;
    width: 30rem;
    overflow: hidden;
}

.fieldplease label:hover {
    padding: 0.2rem;
    border-radius: 1000rem;
    animation: backgroundFade .3s;
    background-color: cadetblue;
    color: white;
    font-size: 1.5rem;
}

.fieldplease label:not(:hover) {
    border-radius: 1000rem;
    animation: backgroundFadenot .3s;
}

.contact_me_home {
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_me_home h1 {
    margin: 0rem;
    font-family: "Calibri", sans-serif;
    padding-top: 1.6rem;
    margin-bottom: 2rem;

}

@keyframes backgroundFade {
    0% {background-color: rgba(0, 0, 0, 0);}
    0% {color: cadetblue;}
    0% {font-size: 1.3rem;}
    100% {background-color: cadetblue;}
    100% {color: white;}
    100% {font-size: 1.5rem;}
}

@keyframes backgroundFadenot {
    0% {background-color: cadetblue;}
    0% {color: white;}
    0% {font-size: 1.5rem;}
    100% {background-color: rgba(0, 0, 0, 0);}
    100% {color: cadetblue;}
    100% {font-size: 1.3rem;}
}

.page_about_me {
    background-image: url("Images_e_portfolio/nature_bis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.texte_about_me {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    font-family: "Calibri", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte_about_me h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro_about_me p {
    font-size: 1.7rem;
}

.texte_about_me h1 {
    margin: 1rem;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

.texte_about_me p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.contact_me_home {
    display: flex;
    flex-direction: column;
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 13.5rem;
}

.icone_contact {
    width: 8rem;
    padding: 2rem;
    height: 8rem;
    border-radius: 3rem;
}

.icone_contact:hover {
    animation: zooming 0.5s ease;
    scale: 1.2;
}

.icone_contact:not(:hover) {
    animation: zoomingout 0.5s ease;
    scale: 1;
}

.corps_mobility {
    display: flex;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    font-size: 2rem;
}

.corps_contact_me {
    display: flex;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    font-size: 2rem;
    overflow: hidden;
    object-fit: fill;
    position: relative;
}

.activities_about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.activities_about_me h2 {
    text-align: center;
}


.activities_photo_text {
    display: flex;
    align-items: center;
    object-fit: cover;
    font-size: 1.3rem;
    margin-bottom: 0rem;
}

.activities_photo_text p {
    font-size: 1.8rem;
}

.text_activities_escalade p {
    font-size: 1.8rem;
}

.photo_badminton {
    width: 13rem;
    margin-right: 3rem;
    border-radius: 2rem;
    border: 2px solid black;
}

.text_activities_badminton {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-size: 1.5rem;
}

.activities_escalade {
    display: flex;
    align-items: center;
    object-fit: cover;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.photo_escalade {
    width: 13rem;
    margin-right: 3rem;
    border-radius: 2rem;
    border: 2px solid black;
}

.text_activities_escalade {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-size: 1.5rem;
}

.experience_abroad {
    font-family: "Calibri", sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    text-align: center;
}

.mobility_container {
    display: flex;
    justify-content: center;
}

.experience_abroad h3 {
    margin-bottom: 0rem;
}

.photo_club {
    height: 10rem;
    border-radius: 2rem;
    background-color: white;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.club_about_me {
    text-align: center;
}

.text_club {
    font-size: 1.8rem;
    width: 50rem;
    margin-bottom: 2rem;
}

.photo_hobbies {
    height: 10rem;
    border-radius: 2rem;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hobbies_about_me {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.club_about_me {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies {
    width: 50rem;
}

.net7 {
    width: 50rem;
}

.text_hobbies {
    font-family: "Calibri", sans-serif;
    font-size: 1.8rem;
    width: 50rem;
    margin-bottom: 2rem;
}

.bis_fieldset {
    border-radius: 10000rem;
    border: 2px solid cadetblue;
    height: 2rem;
    font-size: 1.3rem;
    color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bis_fieldset label:hover {
    animation: bis_field 0.3s ease;
    font-size: 1.5rem;
}

.bis_fieldset label:not(:hover) {
    animation: bis_fieldnot 0.3s ease;
    font-size: 1.3rem;
}

@keyframes bis_field {
    0% {font-size: 1.3rem;}
    100% {font-size: 1.5rem;}
}

@keyframes bis_fieldnot {
    0% {font-size: 1.5rem;}
    100% {font-size: 1.3rem;}
}


.link_to_contact {
    background-color: black;
    color: white;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
    font-family: "Calibri", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.link_to_contact h1 {
    margin-top: 0rem;
}

.intro_about_me {
    font-family: "Calibri", sans-serif;
    width: 40rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.texte_civic {
    display: flex;
    justify-content: center;
    font-family: "Calibri", sans-serif;
}

.contact_me_home h1 {
    overflow: hidden;
    object-fit: fill;
}

.contact_me_home button {
    border: 0px;
    background-color: white;
    padding: 0;
}

.contact_me_home input {
    display: none;
}

.icone_contact_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_skills {
    font-family: "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills_skills ul {
    text-align: left;
}

.skills_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 1.3rem;
}

.skills_skills h2 {
    margin: 0;
    margin-top: 2rem;
}

.skills_skills p {
    width: 30rem;
}

.corps_contact_me h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: showright 1s linear forwards;
}

@keyframes showright {
    100% {width: 0;}
}

@keyframes showright_delayed {
    30% {width: 100%;}
    100% {width: 0;}
}

.contact_me_home h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 21rem;
    right: 0;
    width: 100%;
    height: 10rem;
    background-color: white;
    animation: showright_delayed 2s linear forwards;
}

.text_civic_engagement {
    font-family: "Calibri", sans-serif;
    display: flex;
    justify-content: center;
}

.cornerbutton {
    position: fixed;
    height: 4rem;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 1000rem;
}

.cornerbutton img {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: cadetblue;
    border-radius: 10000rem;   
}

.text_career_management {
    font-family: "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}

.text_eportfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 29rem;
    font-size: 1.3rem;
}

.text_eportfolio h2 {
    margin-bottom: 0;
}

/* .home_about_me::before {
    content: '';
    position: absolute;
    width: 60%;
    top: 19rem;
    left: 12%;
    right: 4rem;
    height: 12rem;
    background-color: green;
} */
